.css-text-901oao.r-color-jwli3a.r-fontWeight-majxgm.r-padding-edyy15.r-textAlign-q4m81j.r-textTransform-tsynxw {
  padding: 10px 20px;
  background-color: white;
  color: black !important;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.css-text-901oao.r-color-jwli3a.r-marginRight-zso239.font-style-search {
    font-weight: bolder;
    font-size: larger;
    /* color: mintcream; */
}